# 함수란
- 특정 기능을 수행하는 코드의 묶음

In [88]:
def add(a, b): # 매개변수: 함수의 입력으로 전달된 값
    return a + b

In [90]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [4]:
def add(a, b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [5]:
a = add(3, 4)

3, 4의 합은 7입니다.

In [6]:
print(a)

None

In [7]:
def say():
    print('Hi')

In [8]:
say()

Hi

In [9]:
def sub(a, b):
    return a - b

In [10]:
result = sub(b=7, a=3)
print(result)

-4

# 입력값이 몇 개가 될지 모를 때 매개변수

In [12]:
def add_many(*args):    # *args - 리액트의 나머지 매개변수 동일
    result = 0
    for i in args:
        result = result + i
    return result

In [13]:
result = add_many(1, 2, 3)
print(result)

6

In [14]:
rslt = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(rslt)

55

In [15]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [16]:
result = add_mul('add', 1, 2, 3, 4, 5)
print(result)

15

In [17]:
result = add_mul('mul', 1, 2, 3, 4, 5)
print(result)

120

# 문제: 거스름돈 계산기

In [20]:
def calculate_change(payment, cost):
    # 거스름돈
    change = payment - cost  # 거스름돈 총액
    # 나머지 연산자% 와 몫 //  화폐단위별 장수
    fifty_count = change // 50000  # 50,000원 지폐
    ten_count = (change % 50000) // 10000  # 10,000원 지폐
    five_count = (change % 10000) // 5000  # 5,000원 지폐
    one_count = (change % 5000) // 1000  # 1,000원 지폐
    
    # 답 출력  print("50000원 지폐: {}장".format(화폐단위 카운트)
    print("50000원 지폐: {}장".format(fifty_count))
    print("10000원 지폐: {}장".format(ten_count))
    print("5000원 지폐: {}장".format(five_count))
    print("1000원 지폐: {}장".format(one_count))

# 테스트 코드
calculate_change(100000, 33000)
print()
calculate_change(500000, 378000)

50000원 지폐: 1장
10000원 지폐: 1장
5000원 지폐: 1장
1000원 지폐: 2장

50000원 지폐: 2장
10000원 지폐: 2장
5000원 지폐: 0장
1000원 지폐: 2장

# 파이썬으로 피보나치 수열 함수 만들기
- 첫 두 항 0 과 1이고,
- 그 이후 의 항은 바로 앞의 두 항의 합으로 이루어지는 수열

In [69]:
def finbonacci_print(n):
    "피보나치 수열은 바로 앞의 두 항의 합으로 이루어지는 수열"
    if n <= 1:
        return n
    else:
        a, b = 0, 1
        while(a < n):
            print(a, end=' ')
            a, b = b, a+b
        print()

finbonacci_print(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [8]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [10]:
result = add_many(1, 2, 3)
print(result)

6

# 키워드 매개변수
 - 매개변수 앞에 별2개(**)를 붙임

In [14]:
def print_kwards(**kwargs):
    print(kwargs)

print_kwards(a=1)

{'a': 1}

In [16]:
print_kwards(name="홍길동", age=17)

{'name': '홍길동', 'age': 17}

In [18]:
# 리턴 키워드 함수 안 한개만 있어야 한다
def add_and_mul(a, b):
    return a+b, a*b

In [20]:
result = add_and_mul(3, 4)
result

(7, 12)

In [30]:
(rslt1, rslt2) = add_and_mul(3, 4)
rslt2

12

In [32]:
# 매개변수(parameter)에 초깃값 미리 설정하기
def say_myself(name, age, man=True):
    print("나의 이름은 %s입니다." % name)
    print("나이는 %d살 입니다" % age)
    if man:
        print("남자입니다")   ## 파이썬에서는 elif
    else:
        print("여자입니다")

In [34]:
say_myself("홍길동", 27)

나의 이름은 홍길동입니다.
나이는 27살 입니다
남자입니다

In [36]:
say_myself("신사임당", 70, False)

나의 이름은 신사임당입니다.
나이는 70살 입니다
여자입니다

 # 함수 의  효력범위 
 - 함수 안에서 사용할 변수의 이름을 함수 밖에서 동일한 변수 가 있다면

In [39]:
a = 1   # 전역변수
def vartest(a):
    a = a + 1
    print('지역변수', a)

vartest(a)
print('전역변수', a)

지역변수 2
전역변수 1

In [94]:
def vartest(bb):
    bb = bb + 1

vartest(3)
print(bb) #  bb변수는 어디에도 선언 되어있지 않기 때문에

NameError: name 'bb' is not defined

In [96]:
a = 1
def vartest(a):
    a = a + 1
    return a
a = vartest(a)  # 리턴값을 함수 밖의 전역변수 대입
print('전역변수', a)

전역변수 2

In [ ]:
# 전역변수 함수안에서 참조 global
k = 1
def vartest():
    global k  # 전역변수 참조 
    k = k + 1
    
vartest()
print(k)

In [ ]:
a = 5  # 전역변수

def func1():
    #print("before [func1] 지역변수 a = ", a)  오류
    a = 1  # 지역변수 , func1()에서만 사용
    print("[func1] 지역변수 a = ", a)

def func2():
    a = 2
    print("[func2] 지역변수 a = ", a)

def func3():   # 함수안에 변수가 없으면 함수밖을 참조
    print("[func3] 전역변수 a = ", a)

def func4():
    global a
    a = 4   #   전역변수 a 값을 5 에서 4 로 변경
    print("[func4] 전역변수 a = ", a)

func4()
print("함수 밖의  a = ", a)

# 람다(lambda) 함수
- 기본구조: lambda  인자 : 수행문
- 사용방법  변수에 lambda함수 담아서 변수명 으로 실행
- ( lambda  인자 : 수행문 )(인자)

In [ ]:
mySquare = lambda x : x**2

In [ ]:
(lambda x : x ** 2)(3)

In [ ]:
mySquare(2)

# 유용한 내장 함수

In [109]:
# 형변환 함수 int(), float(), str()
print(type('100'))
type(int('100'))    # int('100a')   숫자값이 아닌 문자열은  int형변환 불가

<class 'str'>

int

In [111]:
# 리스트 , 튜플, 세트 형으로 서로간에 형변환 할 수 있음
list({1, 2, 3})

[1, 2, 3]

In [115]:
list(set([1, 3, 5, 2, 1, 3]))

[1, 2, 3, 5]

In [129]:
# bool 함
print(0, bool(0))
print('',bool(''))
print(bool([]))
print(bool({}))

0 False
 False
False
False

In [131]:
def print_name(name):
    if bool(name):
        print("입력된 이름: ", name)
    else:
        print("입력된 이름이 없습니다")

In [133]:
print_name("")

입력된 이름이 없습니다

In [135]:
print_name("James")

입력된 이름:  James

# 최솟값과 최댓값을 구하는 함수

In [138]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum), sum(myNum)]

[0, 99.5, 172.0]

In [140]:
myStr = {"Abc", "abc", "bcd", "efg"}
[min(myStr), max(myStr)]

['Abc', 'efg']

In [142]:
myString = "zxyabc"
[min(myString), max(myString)]

['a', 'z']

In [144]:
len({1:"Tomas", 2:"Edward", 3: "Henry"})

3

In [146]:
# 내장함수의 활용
scores = [90, 80, 95, 85]
score_sum = 0
subject_cnt = 0
for score in scores:
    score_sum += score
    subject_cnt += 1
avg = score_sum / subject_cnt  #  평균

print("총점: {0}, 평균: {1}".format(score_sum, avg))

총점: 350, 평균: 87.5

In [148]:
print("총점: {0}, 평균: {1}".format(sum(scores), sum(scores)/len(scores)))

총점: 350, 평균: 87.5

In [150]:
# 오류 예외 처리   
num1 = 4
num2 = 0
num1/num2

ZeroDivisionError: division by zero

In [152]:
num1 = 4
num2 = 0
try:
    f = open('foo.txt', 'w')
    a = [1, 2]   # 0과 1인덱스 만 존재
    print(a[3])
    num1 / num2
except ZeroDivisionError as e:
    print('0으로 나눌 수 없습니다.')
except IndexError:
    print('해당 인덱스값을 읽을 수 없습니다.')
finally:
    f.close()  # 중간에 오류 가 발생하더라도 무조건 finally문은 실행됨

해당 인덱스값을 읽을 수 없습니다.

In [164]:
if (num1 == 0):
    pass  #TODO:
else:
    pass  #TODO:

# 파이썬 내장 (built-in)  함수

In [167]:
# enumerate(x) : 순서가 있는 데이터(리스트 , 튜플)를 입력으로 받아
#                인덱스값을 포함하는 객체 리턴
for i, name in enumerate(['body', 'foo', 'bar']):
    print(i, name)

0 body
1 foo
2 bar

In [169]:
# eval(expression)  : 문자열을 산식  or 내장함수 실행
eval('1+2')

3

In [171]:
eval("'hi' + ' python'")

'hi python'

In [173]:
eval('divmod(5, 3)')  # divmod 함수는 몫과 나머지를 튜플로 리턴

(1, 2)

In [175]:
# 양수만 걸러 내는 함수
def positive(list_data):
    result = []
    for i in list_data:
        if i > 0:
            result.append(i)
    return result

In [181]:
print(positive([1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [183]:
def positive(x):
    return x > 0

print(list(filter(positive, [1, -3, 2, 0, -5, 6] )))

[1, 2, 6]

In [185]:
print(list(filter(lambda x : x>0, [1, -3, 2, 0, -5, 6] )))

[1, 2, 6]

In [191]:
# id(object) : 객체를 입력받아 고유 주솟값 출력
a  = [1, 2, 3]
print('a 의 주소값', id(a))
b = a
print('b 의 주소값', id(b))

a 의 주소값 2706488044352
b 의 주소값 2706488044352

In [193]:
class Person: pass
    
#  isinstance  인스턴스여부  True/ False
a = Person()
isinstance(a, Person) # a 가 Person 클래스의  인스턴스인지 확인

True

In [195]:
# map ( f, iterable )
def two_times(x):
    return x * 2

list(map(two_times, [1, 2, 3, 4, 5]))

[2, 4, 6, 8, 10]

In [197]:
pow(2, 4)

16

In [199]:
list(range(5, 10, 2))

[5, 7, 9]

In [201]:
round(4.6)

5

In [203]:
# sorted(iterable)
sorted([3, 1, 2])

[1, 2, 3]

In [205]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

for k in range(len(names)):   # range(4)  :   [0, 1, 2, 3]
    print(names[k], scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [207]:
# zip : 동일한 개수로 이루어진 데이터들을 묶어서 리턴하는 함수
for name, score in zip(names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

In [209]:
list(zip( [1, 2, 3],  [70, 85, 95] ))

[(1, 70), (2, 85), (3, 95)]

In [211]:
list(zip( [1, 2, 3],  [70, 85, 95] , [65, 55, 70]))

[(1, 70, 65), (2, 85, 55), (3, 95, 70)]

In [213]:
list(zip("abc", "def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]